@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DtroUserListModel

<h2>Users <a class="btn btn-primary" asp-page="DtroUserEdit" asp-route-IsEdit="false">+</a></h2>

<form id="searchSection" method="post" asp-page-handler="Update" style=" margin-top: 30px;margin-right: 20px;margin-bottom: 20px;">
    <div>
        @await Html.PartialAsync("_TraSearchPartial", Model.DtroUserSearch)
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>x-App-Id</th>
                <th>Group</th>
                <th>TRA Id</th>
                <th>Prefix</th>
                <th>Name</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dtroUser in Model.FilteredDtroUsers)
            {
                <tr>
                    <td>@(dtroUser.xAppId == Guid.Empty ? "(Not Set)" : dtroUser.xAppId.ToString())</td>
                    <td>@dtroUser.UserGroup.ToString()</td>
                    <td>@dtroUser.TraId</td>
                    <td>@dtroUser.Prefix</td>
                    <td>@dtroUser.Name</td>
                    <td>
                        @if (dtroUser.xAppId != Guid.Empty)
                        {
                            <img src="@Url.Content("~/images/tick.png")" alt="Active" style="max-height:20px; vertical-align: middle;" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/images/cross.png")" alt="Inactive" style="max-height:20px; vertical-align: middle;" />
                        }
                    </td>
                    <td>
                        @if (dtroUser.UserGroup == UserGroup.Admin)
                        {
                            <img src="@Url.Content("~/images/tick.png")" alt="Active" style="max-height:20px; vertical-align: middle;" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/images/cross.png")" alt="Inactive" style="max-height:20px; vertical-align: middle;" />
                        }
                    </td>
                    <td>
                        <a class="btn btn-info" asp-page="DtroUserEdit" asp-route-IsEdit="true" asp-route-search="@Model.DtroUserSearch.PreviousSearch" asp-route-dtroUserId="@dtroUser.Id">Edit</a>
                       
                        
                     @*    <button type="submit" 
                            name="action" 
                            value= "@dtroUser.TraId"
                            class="btn btn-@(dtroUser.IsActive ? "warning" : "success")" 
                            style="min-width: 100px;">
                                @(dtroUser.IsActive ? "Disable" : "Enable")
                            </button> *@
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
