@page
@model DtroUserDeleteModel
@{
    ViewData["Title"] = "Delete Users";
}

<h2>@ViewData["Title"]</h2>

<form method='post'>
    <table class='table table-responsive table-striped'>
        <thead>
        <th>Id</th>
        <th>AppId</th>
        <th>Name</th>
        <th>TraId</th>
        </thead>
        <tbody>
        @foreach (var user in Model.AllDtroUsers)
        {
            <tr>
                <td>
                    <input type='checkbox' name='SelectedUsers' value='@user.Id'/>
                </td>
                <td>
                    @user.xAppId
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.TraId
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="selectAllCheckboxes()">Select All</button>
    <button class='btn btn-danger' name="action" type='submit' value='delete'>Delete All</button>
    <button class='btn btn-secondary' name="action" type='submit' value='cancel'>Cancel</button>
</form>

@section Scripts {
    <script>
        function selectAllCheckboxes() {
            // Get all checkboxes with name 'SelectedUsers'
            var checkboxes = document.querySelectorAll("input[name='SelectedUsers']");
            // Loop through and check each checkbox
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = true;
            });
        }
    </script>
}
