@page
@model RuleDropEditModel
@{
    bool isEdit = Request.Query["IsEdit"].ToString().ToLower() == "true";
    string version = Request.Query["version"];
}

<h2>@(isEdit ? "Edit Rule" : "Add Rule")</h2>

<div style="margin-top: 30px">
    <label>Version </label>
    <input type="text" id="versionInput" value="@version" @(isEdit ? "disabled style='background-color: grey;'" : "") />
</div>

<div class="drop-area" id="drop-area">
    <div class="drop-area-inner">
        Drag & Drop
    </div>
</div>

<div style="margin-top: 20px">
    <label>Select file:</label>
    <input style="margin-left: 10px" type="file" id="fileInput" />
</div>

<div style="margin-top: 20px">
    <button id="saveButton" class="btn btn-primary" disabled>Save</button>
</div>

@section Scripts {
    <script>
        const fileInput = document.getElementById('fileInput');
        const saveButton = document.getElementById('saveButton');
        const apiBaseUrl = '@Model.ApiBaseUrl';
        const dropArea = document.getElementById('drop-area');
        const versionInput = document.getElementById('versionInput');
        const isEdit = @isEdit.ToString().ToLower();

        dropArea.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropArea.classList.add('dragover');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('dragover');
        });

        dropArea.addEventListener('drop', (event) => {
            event.preventDefault();
            dropArea.classList.remove('dragover');

            const files = event.dataTransfer.files;
            fileInput.files = files;
            dropArea.querySelector('.drop-area-inner').textContent = files[0].name;
            dropArea.style.backgroundColor = 'white';

            checkEnableSaveButton();
        });

        versionInput.addEventListener('input', () => {
            checkEnableSaveButton();
        });

        versionInput.addEventListener('change', () => {
            checkEnableSaveButton();
        });

        fileInput.addEventListener('change', function () {
            checkEnableSaveButton();
        });

        function checkEnableSaveButton() {
            const validVersionRegex = /^\d+\.\d+\.\d+(\.\d+)*$/;
            const isValidVersion = validVersionRegex.test(versionInput.value);
            const isFileDropped = fileInput.files.length > 0;

            // Enable save button only if both file dropped and valid version entered
            saveButton.disabled = !(isValidVersion && isFileDropped);
        }

        // If editing, disable the version input and apply styles accordingly
        if (isEdit) {
            versionInput.disabled = true;
            versionInput.style.backgroundColor = 'grey';
        }

        saveButton.addEventListener('click', function () {

            const formData = new FormData();
            formData.append('file', fileInput.files[0]);
            var version = versionInput.value;
           
            var url = isEdit ? `${apiBaseUrl}/v1/updateRuleFromFile/${version}` : `${apiBaseUrl}/v1/createRuleFromFile/${version}`;
            
            //method: isEdit ? 'PUT' : 'POST',
            //mode: 'no-cors'
            fetch(url, {
                method: 'POST',
                body: formData,
                mode: 'no-cors'
            })
                .then(response => {
                    window.location.href = 'SchemaOverview';

                })
                .catch(error => {
                    alert(error.message);
                    // window.location.href = 'SchemaOverview';
                    console.error('Error:', error);
                });
        });
    </script>
}
