@page
@model SchemaOverviewModel
@inject ISystemConfigService SystemConfigService
@inject IDtroUserService DtroUserService
@{
    var systemConfig = await SystemConfigService.GetSystemConfig();
    var user = await DtroUserService.GetDtroUserAsyncByXAppId(systemConfig.xAppId);
    var isAdmin = user.UserGroup == UserGroup.Admin;
}

<h2>
    Schemas
    <a class="@(isAdmin ? "btn btn-primary" : "")"
       asp-page="SchemaDropEdit"
       asp-route-IsEdit="@(isAdmin ? "true" : "false")">
        @(isAdmin ? "+" : "")
    </a>
</h2>

<table class="table">
    <thead>
    <tr>
        <th>Schema Version</th>
        <th>Schema Status</th>
        <th>Schema Actions</th>
        <th>Rule Actions</th>
        <th>Delete Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var schema in Model.Schemas.Items)
    {
        <tr>
            <td>@schema.SchemaVersion</td>
            <td>
                @if (schema.IsActive)
                {
                    <img src="@Url.Content("~/images/tick.png")" 
                         alt="Active" 
                         style="max-height: 20px; vertical-align: center;"/>
                }
                else
                {
                    <img src="@Url.Content("~/images/cross.png")" 
                         alt="Inactive" 
                         style="max-height: 20px; vertical-align: center;"/>
                }
            </td>
            <td>
                <a class="@(isAdmin? "btn btn-info": "disabled btn btn-info")"
                   asp-page="SchemaDropEdit"
                   asp-route-IsEdit="true"
                   asp-route-version="@schema.SchemaVersion">
                    Edit
                </a>
                <form method="post"
                      asp-page-handler="ToggleActive"
                      asp-route-version="@schema.SchemaVersion"
                          class="d-inline">
                    <button style="min-width: 100px;" 
                                class="@(isAdmin ? $"btn btn-{(schema.IsActive ? "warning" :"success")}": $"btn btn-{(schema.IsActive ? "warning" :"success")} disabled")"
                            type="submit"
                            @(schema.RulesExist ? "" : "disabled")>
                        @(schema.IsActive ? "Disable" : "Enable")
                    </button>
                </form>
            </td>

            @if (schema.RulesExist)
            {
                <td>
                        <a class="@(isAdmin? "btn btn-info": "disabled btn btn-info")"
                       asp-page="RuleDropEdit"
                       asp-route-IsEdit="true"
                       asp-route-version="@schema.SchemaVersion">
                        Edit
                    </a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-primary @(isAdmin ? "" : "disabled")"
                       asp-page="RuleDropEdit"
                       asp-route-IsEdit="false"
                       asp-route-version="@schema.SchemaVersion">
                        +
                    </a>
                </td>
            }
            <td>
                <form method='post' style="min-width: 100px;"
                   class='d-inline'
                   asp-page-handler='Delete'
                   asp-route-version='@schema.SchemaVersion'>
                    <button class='btn btn-danger @(isAdmin ? "": "disabled")'
                            type='submit'>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>